
node_modules/
package-lock.json


*.sqlite
*.sqlite3
*.db
backend/src/data/*.sqlite
backend/src/data/*.db


.env
.env.local
.env.development
.env.production


*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*


.DS_Store
Thumbs.db
desktop.ini
*.tmp


.vscode/
.idea/
*.swp